:root {
  --blue0: #31d9f7;
  --blue1: #389ae0;
  --blue2: #3171f7;
  --blue3: #2f3aed;
  --green0: #2fedd7;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #003;
  margin: 0;
}

p {
  font-size: 1rem;
}

#smooth-scroll {
    color: var(--blue0);

}

li:hover {
  cursor: pointer;
}

#smooth-scroll:hover {
  cursor: pointer;
}

.text-left {
  width: 90%;
  display: flex;
  justify-content: start;
}

.text-center {
  width: 50%;
  display: flex;
  justify-content: center;
  color: var(--blue2);
}
.container100 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-spaced {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 60%;
  justify-content: space-between;
  border-color: var(--blue3);
  border-width: 1rem;
  border-radius: 5rem;
  border-style: solid;
}

.about {
  color: red;
}

.projects {
  
  color: red;
}

.contact {

  color: red;
}

aside {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
}
aside ul {
  position: fixed;
  display: block;
}

aside ul li {
  list-style-type: none;
  color: var(--blue1);
  margin-bottom: 0.5em;
}

@media screen and (min-width: 600px) {
  .container-spaced {
    border-width: 0.5em;
    border-radius: 3em;
  }
  .container-spaced img {
    width: 5em;
    height: 5em;
  }
  
  aside {
      left: 80%;
  }

  /* Font sizes for mobile need to be checked when website is done */
}

@media screen and (min-width: 900px) {
  .container-spaced {
    border-width: 1em;
    border-radius: 5em;
  }
  .container-spaced img {
    width: 10em;
    height: 10em;
  }

  p {
    font-size: 1em;
  }

  li {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }
  aside {
      left: 85%;
  }
  
}

@media screen and (min-width: 1400px) {
  .container-spaced img {
    width: 12em;
    height: 12em;
  }

  p {
    font-size: 1em;
  }
  li {
    font-size: 1em;
  }
  h1 {
    font-size: 2em;
  }
  aside {
      left: 90%;
  }
}

@media screen and (min-width: 1900px) {
  .container-spaced img {
    width: 14em;
    height: 14em;
  }
  p,
  li {
    font-size: 2em;
  }
  h1 {
    font-size: 3em;
  }
}

#img1 {
  /* TEMP FIX: img does not fit on svg block; absolute monkey patches it */
  position: absolute;
  left: 45%;
}
