:root {
  --bg-primary: #003;
  --bg-modal-primary: rgba(85,180, 255, 0.3); 
  --font-primary: #31d9f7;
  --font-secondary: #389ae0;
  --font-header-primary: #38D0F2;
  --font-p-primary: #1BA0F2;
  --border-primary: #2f3aed;
  --btn-primary: #5145ff;
  --btn-secondary: #00a0ff;
  --btn-on: #0f5;
  --btn-off: #f25;
  --btn-slider: #aaf;
  --li-hover: #2fedd7;
  --green0: #2fedd7;
}

body.light {
  --bg-primary: #ddddff;
  --bg-modal-primary: rgba(200,255, 255, 0.3); 
  --font-header-primary: #F5B8B8;
  --font-p-primary: #758898;
  --border-primary: #2f3aed;
  --btn-primary: #F28705;
  --btn-secondary: #e2641b;
}


html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  margin: 0;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}


.spinner-background {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
}

#spinner {
    display: block;
    margin: auto;
    margin-top: 30%;
}

.spinner-background#hidden {
    display: none;
}
.spinner-background svg {
    height: 100%;
    width: 100%;
}


#hidden {
    display: none;
}

#visible {
    display:block;
}

p {
  font-size: 1rem;
}

.options-menu {
    display: block;
    position: fixed;
    width: 25%;
    height: 50%;
    left: 0;
    top: 0;
    border-radius: 3em;
    background-color: var(--bg-modal-primary);
    z-index: 1;
}

#close-button-wrapper {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 150px;
    width: 150px;
    z-index: 2;
    pointer-events: none;
    margin-top: 1em;
}

#options-icons {
    pointer-events: none;
    z-index: 2;
}
.inner-button {
    fill: var(--btn-slider);
    stroke: #aff;
    cursor: pointer;
    pointer-events: visible;
}

.outer-button {
    fill: var(--btn-on);
    stroke-width: 1.5px;
    stroke: #0a5;
    cursor: pointer;
    pointer-events: visible;
}

#outer-circle {
    pointer-events: stroke;
    stroke: var(--btn-primary);
    cursor: pointer;
}

#inner-circle {
    pointer-events: fill;
    fill: var(--btn-secondary);
    cursor: pointer;
}

.options {
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    box-sizing: border-box;
    opacity: 1;
}

.options li {
  list-style-type: none;
  margin-bottom: 2em;
}

/* name of the settings being a nested flexbox, to make 1 row of columns */

.options-menu-wrapper {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin-top: 5em;
}

.options-menu-wrapper svg {
    width: 52%;
    height: 65%;
}

.theme {
    color: var(--font-primary);
}

.auto-scroll-text {
    color: var(--font-primary);
}

.moon {
    fill: #aaa;
    cursor: pointer;
    pointer-events: fill;
}

.sun {
    fill: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    pointer-events: fill;
}

#sun-shadow {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 16%;
    width: 10px;
    height: 10px;
    border-radius: 2em;
    background-color: rgba(255, 255, 100, 0.55);
    box-shadow: 2px 2px 50px 30px rgba(255, 255, 120, 1);
}


#moon-shadow {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 16%;
    width: 10px;
    height: 10px;
    border-radius: 2em;
    background-color: rgba(160, 180, 200, 0.55);
    box-shadow: 2px 2px 40px 20px rgba(160, 180, 200, 1);
}


.auto-scroll {
    pointer-events: stroke;
    cursor: pointer;
}

.text-center {
  width: 50%;
  display: flex;
  justify-content: center;
  color: var(--font-secondary);
}
.container100 {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container100 h1 {
    color: var(--font-header-primary);
}

.container100 p {
    color: var(--font-p-primary);
}

.container-spaced {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: auto;
  justify-content: space-between;
  border-color: var(--border-primary);
  border-width: 1rem;
  border-radius: 5rem;
  border-style: solid;
}

aside {
  display: block;
  position: absolute;
  height: auto;
  top: 40%;
  bottom: 0;
  right: 0;
  z-index: 1;
}
aside ul {
  position: fixed;
  display: block;
  padding-bottom: 1em;
}

.nav li {
  list-style-type: none;
  color: rgba(255, 0, 100, 0);
  cursor: pointer;
  padding: 0.2em 1em 0.4em 1.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: rgba(255, 0, 100, 0.5);
}

@media screen and (max-width: 600px) {
    /* TODO: outline doesn't work for keyboard users, but mobile has them
     * I want the mobile to not have outline and keyboard do.
       */

    .options-menu {
        width: 65%;
    }

    .options ul {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .container-spaced {
    border-width: 0.4em;
    border-radius: 3em;
    }

    aside {
      left: 80%;
    }

    #moon-shadow {
        left: 47%;
    }

    #sun-shadow {
        left: 47%;
    }

    h1 {
        font-size: 1.1em;
    }
    p {
        font-size: 0.7em;
    }
    li {
      font-size: 0.65em;
    }
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%
}

#canvas.invisible {
    visibility: hidden;
}

#canvas.visible {
    visibility: visible;
}

@media screen and (min-width: 600px) {
    .options-menu {
      width: 50%;
    }
    aside {
      left: 85%;
    }
    #links {
      width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .options-menu {
      width: 35%;
    }
    .container-spaced {
    border-width: 1em;
    border-radius: 5em;
    height: auto;
    }

    p {
    font-size: 1em;
    }

    li {
    font-size: 1em;
    }

    h1 {
    font-size: 1.5em;
    }
    aside {
      left: 90%;
    }
}

@media screen and (min-width: 1400px) {
    .options-menu {
      width: 20%;
    }
    .options ul {
        padding-left: 1.5em;
        padding-right: 1em;
    }

    .container-spaced {
      height: 60%;
    }

    p {
    font-size: 1em;
    }
    li {
    font-size: 1em;
    }
    h1 {
    font-size: 2em;
    }
    aside {
      left: 93%;
    }
    #links {
      width: 70%;
    }
}

@media screen and (min-width: 1900px) {
    p,
    li {
    font-size: 1.2em;
    }
    h1 {
    font-size: 2.5em;
    }
}
